<div class="menu app-menu">

  {% if perms.spl_banlist.view_banaction %}
    {% if 'banaction-' in request.resolver_match.url_name %}
      <div class="menu-banaction menu-here">
        <a href="{% url 'spl_banlist:banaction-list' %}">Bans</a>
      </div>
    {% else %}
      <div class="menu-banaction">
        <a href="{% url 'spl_banlist:banaction-list' %}">Bans</a>
      </div>
    {% endif %}
  {% endif %}

 {% if perms.spl_banlist.view_customer %}
  {% if 'customer-' in request.resolver_match.url_name %}
    <div class="menu-customer menu-here">
      <a href="{% url 'spl_banlist:customer-list' %}">Customers</a>
    </div>
  {% else %}
    <div class="menu-customer">
      <a href="{% url 'spl_banlist:customer-list' %}">Customers</a>
    </div>
  {% endif %}
{% endif %}
</div>
