<div class="detail">
  <div class="detail">
  {% include 'touglates/detail_field.html' with label=banaction_labels.title field=object.title %}
  {% url 'spl_banlist:customer-update' object.customer.pk as customer_url %}
  {% include 'touglates/detail_field.html' with label=banaction_labels.customer field='<a href="'|add:customer_url|add:'" target="_blank">'|add:object.customer.name_full|add:'</a>'|safe %}
  {% include 'touglates/detail_field.html' with label=banaction_labels.start_date field=object.start_date %}
  {% include 'touglates/detail_field.html' with label=banaction_labels.submitter field=object.submitter %}
  {% include 'touglates/detail_field.html' with label=banaction_labels.expiration field=object.expiration %}

  <h3>Customer Photos</h3>
  <div class="attached-gallery">
      {% for customerphoto in object.customer.customerphoto_set.all %}
        <div class="relatedset relatedcustomerphoto attached-photo id="div_customernote-{{ forloop.counter0 }}">
          <div class="attached-photo-title">{{ customerphoto }}</div>
          <div class="attached-photo-img"><img src="{{ customerphoto.photofile.url }}"></div>
        </div>
      {% endfor %}
  </div>

  <h3>Customer Notes</h3>
      {% for customernote in object.customer.customernote_set.all %}
        <div class="relatedset relatedcustomernote id="div_customernote-{{ forloop.counter0 }}">
          {% include 'touglates/detail_field.html' with label="Note:" field1=customernote.when field2=customernote.content %}
        </div>
      {% endfor %}
</div>
