<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.view_banaction %}
      {% if 'banaction-list' == request.resolver_match.url_name %}
        <div class="menu-banaction menu-list menu-here">
            List
        </div>
      {% else %}
        <div class="menu-banaction menu-list">
          <a href="{% url 'spl_banlist:banaction-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_banaction %}
      {% if 'banaction-detail' == request.resolver_match.url_name %}
        <div class="menu-banaction menu-detail menu-here">
            View
        </div>
      {% elif object.pk %}
        <div class="menu-banaction menu-detail">
          <a href="{% url 'spl_banlist:banaction-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_banaction %}
      {% if 'banaction-create' == request.resolver_match.url_name %}
        <div class="menu-banaction menu-here menu-create">
          <button form="form_banaction" class="menu-banaction" type="submit" >Submit</button></form>
        </div>
      {% else %}
        <div class="menu-banaction menu-create">
          <a href="{% url 'spl_banlist:banaction-create' %}">Add</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_banaction %}
      {% if 'banaction-update' == request.resolver_match.url_name %}
        <div class="menu-banaction menu-update menu-here">
          <button type="submit" form="form_banaction" class="menu-banaction menu-here" >Submit Changes</button>
        </div>
      {% elif object.pk %}
        <div class="menu-banaction menu-update">
          <a href="{% url 'spl_banlist:banaction-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.delete_banaction %}
      {% if 'banaction-delete' == request.resolver_match.url_name %}
        <div class="menu-banaction menu-delete menu-here">
          <form method="POST" action="{% url 'spl_banlist:banaction-delete' object.pk %}">
            {% csrf_token %}
            <button type="submit" class="menu-banaction" >Confirm Delete</button>
          </form>
        </div>
      {% elif object.pk %}
        <div class="menu-banaction menu-delete">
          <a href="{% url 'spl_banlist:banaction-delete' object.pk %}">Delete</a>
        </div>
      {% endif %}
    {% endif %}

  {% if perms.view_banaction %}
    {% if 'banaction-csv' == request.resolver_match.url_name %}
      <div class="menu-banaction menu-csv menu-here">
          Csv
      </div>
    {% else %}
      <div class="menu-banaction menu-csv">
        <a href="{% url 'spl_banlist:banaction-csv' %}">Csv</a>
      </div>
    {% endif %}
  {% endif %}



  </div>


</div>
