<div class="detail">
  <div class="detail">
  {% include 'touglates/detail_field.html' with label=banaction_labels.title field=object.title %}
  {% url 'spl_banlist:bannee-update' object.bannee.pk as bannee_url %}
  {% include 'touglates/detail_field.html' with label=banaction_labels.bannee field='<a href="'|add:bannee_url|add:'" target="_blank">'|add:object.bannee.name_full|add:'</a>'|safe %}
  {% include 'touglates/detail_field.html' with label=banaction_labels.when_submitted field=object.when_submitted %}
  {% include 'touglates/detail_field.html' with label=banaction_labels.submitter field=object.submitter %}
  {% include 'touglates/detail_field.html' with label=banaction_labels.when_lifted field=object.when_lifted %}

  <h3>Notes</h3><span id="div_banactionNotes">Showing All </span><a href="#" id="a_toggleNotes">Show Flagged</a>
  {% for banactionnote in object.banactionnote_set.all %}
    <div class="relatedset relatedbanactionnote level{{ banactionNote.banactionnotelevel }} {% if banactionnote.flagged %} flagged{% endif %}" id="div_banactionnote-{{ forloop.counter0 }}">
      {% include 'touglates/list_fields.html' with field_1_label='Note:' field_1=banactionnote.when field_2=banactionnote.banactionnotecategory|default_if_none:'' field_3=banactionnote.maintext %}
    </div>
  {% endfor %}

  <h3>Photos</h3>
  <div class="attached-gallery">
      {% for banneephoto in object.bannee.banneephoto_set.all %}
        <div class="relatedset relatedbanneephoto attached-photo id="div_banneenote-{{ forloop.counter0 }}">
          <div class="attached-photo-title">{{ banneephoto }}</div>
          <div class="attached-photo-img"><img src="{{ banneephoto.photofile.url }}"></div>
        </div>
      {% endfor %}
  </div>

</div>
