<div class="form">
  {% if form.errors %}{{ form.errors }}{% endif %}
  {% for message in messages %} {{ message }} {% endfor %}
  <form id="form_banaction" method="POST" enctype="multipart/form-data">
  {{ form.media }}
    {% csrf_token %}

      <div id="div_customer">
        {% include 'touglates/form_field.html' with field=form.customer %}
      </div>
      <div id="div_summary">
        {% include 'touglates/form_field.html' with field=form.summary %}
      </div>
      <div id="div_start_date">
        {% include 'touglates/form_field.html' with field=form.start_date %}
      </div>
      <div id="div_submitter">
        {% include 'touglates/form_field.html' with field=form.submitter %}
      </div>
      <div id="div_expiration">
        {% include 'touglates/form_field.html' with field=form.expiration %}
      </div>
      <div id="title">
        {% include 'touglates/form_field.html' with field=form.title label_tag="Title (Optional)" %}
     </div>

      <button type="Submit">Submit</button>

    </div>

  </form>




