<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.view_bannee %}
      {% if 'bannee-list' == request.resolver_match.url_name %}
        <div class="menu-bannee menu-list menu-here">
            List
        </div>
      {% else %}
        <div class="menu-bannee menu-list">
          <a href="{% url 'spl_banlist:bannee-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_bannee %}
      {% if 'bannee-detail' == request.resolver_match.url_name %}
        <div class="menu-bannee menu-detail menu-here">
            View
        </div>
      {% elif object.pk %}
        <div class="menu-bannee menu-detail">
          <a href="{% url 'spl_banlist:bannee-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_bannee %}
      {% if 'bannee-create' == request.resolver_match.url_name %}
        <div class="menu-bannee menu-here menu-create">
          <button form="form_bannee" class="menu-bannee" type="submit" >Submit</button></form>
        </div>
      {% else %}
        <div class="menu-bannee menu-create">
          <a href="{% url 'spl_banlist:bannee-create' %}">Add</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_bannee %}
      {% if 'bannee-update' == request.resolver_match.url_name %}
        <div class="menu-bannee menu-update menu-here">
          <button type="submit" form="form_bannee" class="menu-bannee menu-here" >Submit Changes</button>
        </div>
      {% elif object.pk %}
        <div class="menu-bannee menu-update">
          <a href="{% url 'spl_banlist:bannee-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.delete_bannee %}
      {% if 'bannee-delete' == request.resolver_match.url_name %}
        <div class="menu-bannee menu-delete menu-here">
          <form method="POST" action="{% url 'spl_banlist:bannee-delete' object.pk %}">
            {% csrf_token %}
            <button type="submit" class="menu-bannee" >Confirm Delete</button>
          </form>
        </div>
      {% elif object.pk %}
        <div class="menu-bannee menu-delete">
          <a href="{% url 'spl_banlist:bannee-delete' object.pk %}">Delete</a>
        </div>
      {% endif %}
    {% endif %}


  </div>


</div>
