<div class="detail">
  {% include 'touglates/detail_field.html' with label=customer_labels.title field=object.title %}
  {% include 'touglates/detail_field.html' with label=customer_labels.when_submitted field=object.when_submitted %}
  {% include 'touglates/detail_field.html' with label=customer_labels.submitter field=object.submitter %}
  {% include 'touglates/detail_field.html' with label=customer_labels.when_started field=object.when_started %}

  <h3>Photos</h3>
  <div class="attached-gallery">
    {% for customerphoto in object.customerphoto_set.all %}
      <div class="relatedset relatedcustomerphoto attached-photo id="div_customernote-{{ forloop.counter0 }}">
        <div class="attached-photo-title">{{ customerphoto }}</div>
        <div class="attached-photo-img"><img src="{{ customerphoto.photofile.url }}"></div>
      </div>
    {% endfor %}
  </div>

</div>

